@use "../../styles/global.scss" as global;

.products {
  @include global.defaultWidth;

  @include global.respond(phone) {
    padding: 10rem 0;
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2.5rem;

    @include global.respond(tab) {
      gap: 2rem;
    }

    @include global.respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
  &__blocks:not(:first-child) {
    padding-top: 5rem;

    @include global.respond(phone) {
      padding-top: 2rem;
    }
  }
  &__blocks {
    & h2 {
      font-size: 5.2rem;
      font-weight: 400;
      flex: 0 1 100%;
      grid-column: 1 / -1;

      @include global.respond(phone) {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
