@use "../../styles/global.scss" as global;

.serviceTypesBox {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  line-height: 1.4;

  @include global.respond(tab) {
    flex-direction: column;
    align-items: initial;
    width: 80%;
    margin: 0 auto;
  }

  @include global.respond(phone) {
    width: 90%;
  }

  &__imgBox {
    flex: 1 1 25%;
    & > div {
      border-radius: 1rem;
      overflow: hidden;
    }
    @include global.respond(md) {
      flex: 1 1 50%;
    }
    & img {
      width: 100%;
      display: block;
    }
  }
  &__textBox {
    flex: 1 1 75%;
    display: flex;
    flex-direction: column;

    & p:last-of-type {
      order: 1;
    }

    & h3 {
      font-size: 3.5rem;

      @include global.respond(md) {
        font-size: 3rem;
      }
    }
  }
}
